n8n_workflow.json
{
  "name": "脫單力分析webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "charming-test",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        560
      ],
      "id": "07180349-e8d1-466f-a203-bcdbef0ec7eb",
      "name": "Webhook Trigger",
      "webhookId": "77024e6c-4750-4901-acb9-cba478739e51"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iosEzD46jlOAEXW29tTdtBo9SMixnkAK6YrTQa_mWHU",
          "mode": "list",
          "cachedResultName": "脫單力分析n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iosEzD46jlOAEXW29tTdtBo9SMixnkAK6YrTQa_mWHU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iosEzD46jlOAEXW29tTdtBo9SMixnkAK6YrTQa_mWHU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "提交時間": "={{ $json.body.submittedAt }}",
            "姓名": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "總分": "={{ $json.body.total_score }}",
            "人格原型": "={{ $json.body.quiz_result.persona_title }}",
            "形象外表": "={{ $json.body.ai_analysis.advice_skin }}",
            "社群形象": "={{ $json.body.ai_analysis.advice_social }}",
            "行動與互動": "={{ $json.body.ai_analysis.advice_hair }}",
            "心態與習慣": "={{ $json.body.ai_analysis.advice_style }}",
            "AI完整建議": "={{ $json.body.ai_analysis.coach_summary }}",
            "quiz_source": "={{ $json.body.quiz_source }}",
            "persona_type": "={{ $json.body.quiz_result.persona_title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "提交時間",
              "displayName": "提交時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "姓名",
              "displayName": "姓名",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "總分",
              "displayName": "總分",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "人格原型",
              "displayName": "人格原型",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quiz_source",
              "displayName": "quiz_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "persona_type",
              "displayName": "persona_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "形象外表",
              "displayName": "形象外表",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "社群形象",
              "displayName": "社群形象",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "行動與互動",
              "displayName": "行動與互動",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "心態與習慣",
              "displayName": "心態與習慣",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI完整建議",
              "displayName": "AI完整建議",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        560
      ],
      "id": "606e16e7-bff9-4c4d-8440-7a90fff7ac81",
      "name": "Append to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N0VYOjOQlO3jfF77",
          "name": "n8n google sheet"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json['姓名'] }}，你的脫單力診斷報告書已送達！",
        "message": "=<!DOCTYPE html>\n<html lang=\"zh-TW\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<meta name=\"x-apple-disable-message-reformatting\">\n<title>脫單力診斷報告</title>\n<style>\n  /* Reset & Base Styles */\n  body { \n      margin: 0; padding: 0; \n      -webkit-text-size-adjust: 100%; \n      -ms-text-size-adjust: 100%; \n      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; \n      line-height: 1.6; \n      color: #334155;\n      width: 100% !important;\n      word-break: break-word !important;\n  }\n  img { max-width: 100%; height: auto; display: block; border: 0; }\n  table { border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n  \n  .dark-bg { background-color: #0f172a; }\n  .gold-text { color: #edae26; }\n  \n  /* Mobile Responsive Styles */\n  @media only screen and (max-width: 600px) {\n      body, .container-table {\n          width: 100% !important;\n          padding: 0 !important;\n          background-color: #ffffff !important;\n      }\n      .main-card {\n          width: 100% !important;\n          max-width: 100% !important;\n          border-radius: 0 !important;\n          box-shadow: none !important;\n          margin: 0 !important;\n      }\n\n      .content-cell {\n          padding-left: 0 !important;\n          padding-right: 0 !important;\n      }\n\n      .standard-card {\n          display: block !important;\n          width: auto !important;\n          margin: 0 5px 15px 5px !important;\n          border-radius: 16px !important;\n          overflow: hidden !important;\n          border: none !important;\n          box-sizing: border-box !important;\n      }\n\n      /* 修正：教練區塊移除底部邊距，準備與頁尾銜接 */\n      .coach-wrap {\n          display: block !important;\n          width: 100% !important;\n          margin: 20px 0 0 0 !important; /* 底部 margin 設為 0 */\n          border-radius: 0 !important;\n          overflow: hidden !important;\n      }\n\n      /* 修正：手機版頁尾強制改為深藍色並滿版 */\n      .footer-cell {\n          background-color: #0f172a !important;\n          padding: 20px 10px 40px 10px !important;\n          border-top: none !important; /* 移除分割線 */\n      }\n\n      .standard-card div, .coach-wrap div {\n          padding-left: 12px !important;\n          padding-right: 12px !important;\n          width: 100% !important;\n          box-sizing: border-box !important;\n      }\n\n      .mobile-pad-standard {\n          padding-left: 10px !important;\n          padding-right: 10px !important;\n      }\n      \n      .persona-header {\n          padding: 30px 10px !important;\n      }\n\n      h1 { font-size: 26px !important; }\n      h3 { font-size: 22px !important; }\n  }\n</style>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f1f5f9;\">\n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color: #f1f5f9; padding: 20px 0;\" class=\"container-table\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" class=\"main-card\" style=\"max-width: 600px; background-color: #ffffff; border-radius: 24px; overflow: hidden; box-shadow: 0 10px 25px rgba(0,0,0,0.05); width: 100%; margin: 0 auto;\">\n          \n          <tr>\n             <td class=\"dark-bg\" style=\"padding: 0;\">\n                <img src=\"{{ $('Webhook Trigger').first().json.body.quiz_result.persona_image_png }}\" style=\"width: 100%;\" />\n             </td>\n          </tr>\n\n          <tr>\n            <td class=\"dark-bg persona-header\" style=\"padding: 35px 30px; text-align: left;\">\n                <h1 style=\"color: #ffffff; margin: 0; font-size: 32px; font-weight: 900;\">{{ $('Webhook Trigger').first().json.body.quiz_result.persona_title }}</h1>\n                <p class=\"gold-text\" style=\"margin: 10px 0 0 0; font-size: 18px; font-style: italic;\">{{ $('Webhook Trigger').first().json.body.ai_analysis.overview }}</p>\n            </td>\n          </tr>\n\n          <tr>\n             <td style=\"padding: 30px 0 0 0;\" class=\"content-cell\"> <div class=\"mobile-pad-standard\">\n                    <div style=\"margin-bottom: 25px;\">\n                        {{ $('Webhook Trigger').first().json.body.quiz_result.tags_html }}\n                    </div>\n                    \n                    <div style=\"text-align: center; margin-bottom: 35px;\">\n                        <div style=\"font-size: 28px; font-weight: 900; color: #0f172a;\">總體魅力：<span class=\"gold-text\">{{ $('Webhook Trigger').first().json.body.total_score }}</span> <span style=\"color: #cbd5e1; font-size: 18px;\">/ 100</span></div>\n                        <img src=\"{{ $('Webhook Trigger').first().json.body.quiz_result.chart_image_url }}\" style=\"max-width: 450px; margin: 25px auto; width: 100%;\" />\n                    </div>\n                </div>\n\n                <div class=\"standard-card\">\n                    <div style=\"background-color: #f8fafc; padding: 20px; border: 1px solid #e2e8f0; border-radius: 20px;\">\n                       <h2 style=\"color: #edae26; margin: 0 0 15px 0; font-size: 14px; letter-spacing: 2px; font-weight: 900; text-transform: uppercase;\">核心診斷報告</h2>\n                       <div style=\"font-size: 16px; font-weight: bold; line-height: 1.8; color: #334155;\">\n                           {{ $('Webhook Trigger').first().json.body.ai_analysis.explanation }}    \n                       </div>\n                    </div>\n                </div>\n\n                <div class=\"mobile-pad-standard\" style=\"text-align: center; margin: 30px 0 20px 0;\">\n                    <h3 style=\"font-size: 24px; font-weight: 900; color: #0f172a; margin: 0;\">四大屬性深度剖析</h3>\n                </div>\n\n                <div class=\"standard-card\">\n{{ $('Webhook Trigger').item.json.body.html_components.dimensions_grid }}\n                </div>\n\n                <div class=\"coach-wrap\">\n{{ $('Webhook Trigger').item.json.body.html_components.coach_section }}\n                </div>\n             </td>\n          </tr>\n\n          <tr>\n            <td class=\"footer-cell\" style=\"background-color: #0f172a; padding: 10px 10px 10px 10px; text-align: center; font-size: 12px; color: #94a3b8;\">\n              <p style=\"margin: 15px 0 0 0; font-weight: bold; color: #ffffff; letter-spacing: 1px;\">© 男性形象教練 彭邦典</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        560
      ],
      "id": "ea43f096-e89c-45cf-ab30-65963069a495",
      "name": "Send Gmail",
      "webhookId": "4980efaa-c02a-4b18-ae2a-fbe8de59c239",
      "credentials": {
        "gmailOAuth2": {
          "id": "BlKQOZV6ZdCAOeHM",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.systeme.io/api/contacts?email={{ $('Webhook Trigger').item.json.body.email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "311xcle8tp3f2aqto4e60sy6d7o927gf41pg3tbbazcjsuprrqi6lcqyip9cpi5j"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        560
      ],
      "id": "71e567de-f2c8-4c68-91e9-4f3f0df16c40",
      "name": "Systeme_Search"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.systeme.io/api/contacts/{{ $('Systeme_Search').item.json.items[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "311xcle8tp3f2aqto4e60sy6d7o927gf41pg3tbbazcjsuprrqi6lcqyip9cpi5j"
            },
            {
              "name": "Content-Type",
              "value": "application/merge-patch+json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": [\n    {\n      \"slug\": \"persona_type\", \n      \"value\": \"{{ $('Webhook Trigger').first().json.body.quiz_result.persona_title }}\"\n    },\n    {\n      \"slug\": \"quiz_source\", \n      \"value\": \"{{ $('Webhook Trigger').item.json.body.quiz_source }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        464
      ],
      "id": "b49ce942-00af-443e-9098-c6134387a6a3",
      "name": "HTTP Request (更新資料)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.systeme.io/api/contacts/{{ $json.id || $('Systeme_Search').item.json.items[0].id }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "311xcle8tp3f2aqto4e60sy6d7o927gf41pg3tbbazcjsuprrqi6lcqyip9cpi5j"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tagId\": 1633731\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        560
      ],
      "id": "e58dbd36-b9f9-482b-8e24-08bf3b8f651b",
      "name": "Systeme_Add_Tag"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ac3b5ee-8345-4e76-8fe3-153b8cda8f1f",
              "leftValue": "={{ $json.items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        560
      ],
      "id": "ac6a9f8f-9979-4486-a46c-132cb74d5a16",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.systeme.io/api/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "311xcle8tp3f2aqto4e60sy6d7o927gf41pg3tbbazcjsuprrqi6lcqyip9cpi5j"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Value Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Webhook Trigger').item.json.body.email }}\",\n  \"custom_fields\": [\n    {\n      \"name\": \"persona_type\", \n      \"value\": \"{{ $('Webhook Trigger').item.json.body.quiz_result.persona_title }}\"\n    },\n    {\n      \"name\": \"quiz_source\", \n      \"value\": \"{{ $('Webhook Trigger').item.json.body.quiz_source }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        656
      ],
      "id": "4f42201e-edd6-4830-851e-8e1398095159",
      "name": "HTTP Request (建立新資料)"
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "body": {
            "submittedAt": "2024-02-18T12:00:00.000Z",
            "name": "陳士官",
            "email": "freeven0219@gmail.com",
            "quiz_source": "charming-test",
            "total_score": 85,
            "quiz_result": {
              "persona_title": "天生魅力家",
              "persona_image_png": "https://images.weserv.nl/?url=d1yei2z3i6k35z.cloudfront.net/2452254/694c9b7411b38_1.%E5%A4%A9%E7%94%9F%E9%AD%85%E5%8A%9B%E5%AE%B6.svg&output=png",
              "chart_image_url": "https://quickchart.io/chart?c=%7B%22type%22%3A%22radar%22%2C%22data%22%3A%7B%22labels%22%3A%5B%22%E5%BD%A2%E8%B1%A1%E5%A4%96%E8%A1%A8%22%2C%22%E7%A4%BE%E7%BE%A4%E5%BD%A2%E8%B1%A1%22%2C%22%E8%A1%8C%E5%8B%95%E8%88%87%E4%BA%92%E5%8B%95%22%2C%22%E5%BF%83%E6%85%8B%E8%88%87%E7%BF%92%E6%85%A3%22%5D%2C%22datasets%22%3A%5B%7B%22label%22%3A%22%E9%AD%85%E5%8A%9B%E5%80%BC%22%2C%22data%22%3A%5B12%2C9%2C6%2C3%5D%2C%22backgroundColor%22%3A%22rgba(37%2C%2099%2C%20235%2C%200.2)%22%2C%22borderColor%22%3A%22rgba(37%2C%2099%2C%20235%2C%201)%22%2C%22pointBackgroundColor%22%3A%22rgba(37%2C%2099%2C%20235%2C%201)%22%2C%22borderWidth%22%3A2%7D%5D%7D%2C%22options%22%3A%7B%22scale%22%3A%7B%22ticks%22%3A%7B%22beginAtZero%22%3Atrue%2C%22max%22%3A12%2C%22stepSize%22%3A3%2C%22display%22%3Afalse%7D%7D%2Dlegend%22%3A%7B%22display%22%3Afalse%7D%7D%7D",
              "tags_html": "<span style='background:#f1f5f9; padding:4px 8px; border-radius:4px; margin-right:5px; color:#334155; font-size:12px;'>#高質感</span> <span style='background:#f1f5f9; padding:4px 8px; border-radius:4px; color:#334155; font-size:12px;'>#社交達人</span>"
            },
            "ai_analysis": {
              "overview": "外在與內在的完美平衡者",
              "explanation": "你的魅力在於極強的視覺張力，能在第一時間吸引他人注意。目前你在『穿搭』與『社群』上已具備基礎，但在『溝通深度』上還有進步空間。",
              "advice_skin": "保持現狀，您的皮膚管理很好。",
              "advice_social": "嘗試更多元的生活照片。",
              "advice_hair": "可以嘗試主動發起邀約。",
              "advice_style": "面對挫折時請保持平常心。",
              "coach_summary": "你目前的盲點在於試圖用『誠意』去彌補『吸引力』的空缺。請記住，形象建立是你目前最強力的槓桿。"
            },
            "html_components": {
              "dimensions_grid": "<div style='background-color: #f8fafc; padding: 20px; border: 1px solid #e2e8f0; border-radius: 20px;'><h4>[測試] 四大屬性數據已加載</h4><p>形象：優 / 社群：良 / 互動：中 / 心態：尚可</p></div>",
              "coach_section": "<div style='background-color: #0f172a; border-radius: 24px; padding: 40px 30px;'><h3 style='color: #edae26;'>教練最終點評</h3><p style='color: white;'>這是一個完整的自動化測試流程，看到此處代表 Email 渲染成功。</p></div>"
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Systeme_Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Systeme_Search": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (更新資料)": {
      "main": [
        [
          {
            "node": "Systeme_Add_Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request (更新資料)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request (建立新資料)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (建立新資料)": {
      "main": [
        [
          {
            "node": "Systeme_Add_Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "versionId": "b9ec7d3c-1233-49fc-a720-bcad91daa567",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "402d100cab6eba4d0576982c46bb6be2efb78c36aa1e5629cb6c383e49843cb0"
  },
  "id": "HdUi74eCEanpdhN5",
  "tags": []
}